:local(.container) {
	.deck > div {
		margin: 10px 10px 10px 10px;
	}

	.deck {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.deck {
		.fade-enter {
		  opacity: 0.01;
		}

		.fade-enter-active {
		  opacity: 1;
		  transition: opacity 500ms ease-in;
		}

		.fade-exit {
		  opacity: 1;
		}

		.fade-exit-active {
		  opacity: 0.01;
		  transition: opacity 300ms ease-in;
		}
	}
}